<form method="post" action="/charinput/newchar">
    <!--Character details -->
    <input placeholder="Character Name" value="{{charToEdit.name}}" name="name">
    <input placeholder="Character Race" value="{{charToEdit.race}}" name="race">
    <input placeholder="Character Level" value="{{charToEdit.level}}" name="level">
    <input placeholder="Hit Points" value="{{charToEdit.hp}}" name="hp"> <br>

    <!--Core Stats -->
    <span class="statDisplay"> STR </span><input placeholder="Strength Score" value="{{charToEdit.strength}}" name="strength"> <br>
    <span class="statDisplay"> DEX </span><input placeholder="Dexterity Score" value="{{charToEdit.dexterity}}" name="dexterity"> <br>
    <span class="statDisplay"> CON </span><input placeholder="Constitution Score" value="{{charToEdit.constitution}}" name="constitution"> <br>
    <span class="statDisplay"> INT </span><input placeholder="Intelligence Score" value="{{charToEdit.intelligence}}" name="intelligence"> <br>
    <span class="statDisplay"> WIS </span><input placeholder="Wisdom Score" value="{{charToEdit.wisdom}}" name="wisdom"> <br>
    <span class="statDisplay"> CHA </span><input placeholder="Charisma Score" value="{{charToEdit.charisma}}" name="charisma"> <br>

    <!--Attack Types -->
    <div>Preferred Attacking Stat <br>
        <select name="atkPref">
            <option value="STR">Strength</option>
            <option value="DEX">Dexterity</option>
        </select>
    </div>
    <!--Spellcaster Types -->
    <div>Spellcasting Stat <br>
        <select name="spellPref">
            <option value="NA">None</option>
            <option value="INT">Intelligence</option>
            <option value="WIS">Wisdom</option>
            <option value="CHA">Charisma</option>
        </select>
    </div>
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
</form>
