

<form class="form-inline" method="post" action="/fullcharedit/editedchar">
    <div class="panel panel-default container">
        <div class="panel-heading">Description</div>
        <div class="panel-body">
            <div class="form-group m-3">
                <span>Character Name:</span>
                <input class="form-control" value="{{charToEdit.name}}" name="name">
            </div>
            <div class="form-group m-3">
                <span>Race:</span>
                <input class="form-control"  value="{{charToEdit.race}}" name="race">
            </div>
            <div class="form-group m-3">
                <span>Level:</span>
                <input class="form-control" value="{{charToEdit.level}}" name="level">
            </div>
            <div class="form-group m-3">
                <span>Health Points:</span>
                <input class="form-control" value="{{charToEdit.hp}}" name="hp">
            </div>
        </div>
    </div>

    <div class="panel panel-default container">
        <div class="panel-heading">Attributes</div>
        <div class="panel-body">
            <div class="form-group m-3">
                <span>Strength:</span>
                <input class="form-control" value="{{charToEdit.strength}}" name="strength">
            </div>
            <div class="form-group m-3">
                <span>Dexterity:</span>
                <input class="form-control" value="{{charToEdit.dexterity}}" name="dexterity">
            </div>
            <div class="form-group m-3">
                <span>Constitution:</span>
                <input class="form-control" value="{{charToEdit.constitution}}" name="constitution">
            </div>
            <div class="form-group m-3">
                <span>Intelligence:</span>
                <input class="form-control" value="{{charToEdit.intelligence}}" name="intelligence">
            </div>
            <div class="form-group m-3">
                <span>Wisdom:</span>
                <input class="form-control" value="{{charToEdit.wisdom}}" name="wisdom">
            </div>
            <div class="form-group m-3">
                <span>Charisma:</span>
                <input class="form-control" value="{{charToEdit.charisma}}" name="charisma">
            </div>
        </div>
    </div>

    <div class="panel panel-default container">
        <div class="panel-body">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </div>
    </div>

    <input style="display: none" name="_id" value="{{charToEdit._id}}">

</form>

            <!--<fieldset>-->
                <!--<legend>What is your character proficient at?</legend>-->
                <!--<div>-->
                    <!--<input type="checkbox" name="skills" value="athletics">-->
                    <!--<label for="athletics">Athletics (STR)</label>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<input type="checkbox" name="skills" value="acrobatics">-->
                    <!--<label for="acrobatics">Acrobatics (DEX)</label>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<input type="checkbox" name="skills" value="sleightOfHand">-->
                    <!--<label for="sleightOfHand">Sleight of Hand (DEX)</label>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<input type="checkbox" name="skills" value="stealth">-->
                    <!--<label for="stealth">Stealth (DEX)</label>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<input type="checkbox" name="skills" value="arcana">-->
                    <!--<label for="arcana"> Knowledge of Arcana (INT)</label>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<input type="checkbox" name="skills" value="history">-->
                    <!--<label for="history">Knowledge of History (INT)</label>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<input type="checkbox" name="skills" value="investigation">-->
                    <!--<label for="investigation">Investigation (INT)</label>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<input type="checkbox" name="skills" value="nature">-->
                    <!--<label for="nature">Knowledge of Nature (INT)</label>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<input type="checkbox" name="skills" value="religion">-->
                    <!--<label for="religion">Knowledge of Religion (INT)</label>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<input type="checkbox" name="skills" value="animalsHandling">-->
                    <!--<label for="animalHandling">Animal Handling (WIS)</label>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<input type="checkbox" name="skills" value="insight">-->
                    <!--<label for="insight">Insight (WIS)</label>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<input type="checkbox" name="skills" value="medicine">-->
                    <!--<label for="medicine">Medicine (WIS)</label>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<input type="checkbox" name="skills" value="perception">-->
                    <!--<label for="perception">Perception (WIS)</label>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<input type="checkbox" name="skills" value="survival">-->
                    <!--<label for="survival">Survival (WIS)</label>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<input type="checkbox" name="skills" value="deception">-->
                    <!--<label for="deception">Deception (CHA)</label>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<input type="checkbox" name="skills" value="intimidation">-->
                    <!--<label for="intimidation">Intimidation (CHA)</label>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<input type="checkbox" name="skills" value="performance">-->
                    <!--<label for="performance">Performance (CHA)</label>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<input type="checkbox" name="skills" value="persuasion">-->
                    <!--<label for="persuasion">Persuasion (CHA)</label>-->
                <!--</div>-->
            <!--</fieldset>-->