<h2>Your Characters</h2>
{{#each ownedChars}}
    <div><a href="/fullcharedit?charID={{_id}}"><button class="glyphicon glyphicon-pencil"></button></a><span>{{name}}</span></div>
{{/each}}

<h2>Adventures You're In</h2>


{{#each ownedInvitations}}
    <div>
    Adventure: {{adventure.name}}. Your Character: {{character}}.
        <form method="post" action="/electchar">
            <select name ="invCharID" onchange="this.form.submit()" >
                <option  value=''>Pick Char</option>

                {{#each ../ownedChars}}
                <!--TODO: get options bar to post on change-->
                <option  value='{{../_id}},{{_id}}'>{{name}}</option>
            {{/each}}
            </select>
        </form>
    </div>
{{/each}}
<h2>Your Adventures</h2>
{{#each ownedAdventures}}
    <form method="post" action="sendinvite">
        <div><span>{{name}}</span><input name="adventureID" value="{{_id}}" style="display: none"><input placeholder="Account Name" name="invitedname"><button type="submit">Send Invite</button></div>
    </form>
{{/each}}
<div>
    <form method="post" action="/newadventure">
        <input placeholder="Adventure Name" name="adventurename">
        <button>New Adventure</button>
    </form>
</div>

<script src="/javascripts/index.js"></script>