<div class="panel panel-default">
    <div class="panel-heading"><h2>Your Characters</h2></div>
    <div class="panel-body">
        {{#each ownedChars}}
            <div class="panel panel-default" style="margin:17px 0 19px 0;">
                <div class="panel-body">
                    <ul class="list-inline">
                        <li class="list-inline-item"><h3>{{name}}</h3></li>
                        <li class="list-inline-item"><a href="/fullcharedit?charID={{_id}}"><button class="btn glyphicon glyphicon-pencil"></button></a></li>
                    </ul>
                </div>

            </div>

        {{/each}}

        <a href="/charinput"><button class="btn" >New Character</button></a>
    </div>

</div>

<div class="panel panel-default">
    <div class="panel-heading"><h2>Adventures You're In</h2></div>
    <div class="panel-body">
        {{#each ownedInvitations}}

            <div class="panel panel-default" style="margin:17px 0 19px 0;">
                <div class="panel-body">
                    <ul class="list-inline">
                        <li class="list-inline-item"><h3>{{adventure.name}}</h3></li>
                        <li class="list-inline-item">Your Character: <kbd>{{character.name}}</kbd></li>
                        <li class="list-inline-item">
                            <form method="post" action="/electchar">
                            <select name ="invCharID" onchange="this.form.submit()" >
                                <option  value=''>Pick Char</option>

                                {{#each ../ownedChars}}
                                    <option  value='{{../_id}},{{_id}}'>{{name}}</option>
                                {{/each}}

                            </select>
                            </form>
                        </li>
                    </ul>
                </div>

            </div>

        {{/each}}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h2>Your Adventures</h2></div>
    <div class="panel-body">
        {{#each ownedAdventures}}

            <div class="panel panel-default" style="margin:17px 0 19px 0;">
                <div class="panel-body">
                    <ul class="list-inline">
                        <li class="list-inline-item"><h3>{{name}}</h3></li>
                        <li class="list-inline-item">
                            <a class="" href="/gmscreen?advID={{_id}}">
                                <button class="glyphicon glyphicon-home btn"></button>
                        </a>
                        </li>
                        <form method="post" action="sendinvite">

                        <li class="list-inline-item"><button class="btn" type="submit">Send Invite</button></li>
                        <li class="list-inline-item"><input name="adventureID" value="{{_id}}" style="display: none"><input placeholder="Account Name" name="invitedname"></li>
                        </form>
                    </ul>
                </div>

            </div>



        {{/each}}


        <div>
            <form method="post" action="/newadventure">
                <button class="btn">New Adventure</button>

                <input placeholder="Adventure Name" name="adventurename">
            </form>
        </div>
    </div>
</div>




<script src="/javascripts/index.js"></script>